.missions_div {
  display: flex;
  margin-top: 100px;
  padding: 2% 2%;
  gap: 50px;
  align-items: center;
}
.missions_div h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
.info_div {
  margin-left: 40px;
}
.sketchfab-embed-wrapper iframe {
  width: 800px;
}
.info_div p {
  margin-top: 10px;
  color: white;
}
.info_div p span {
  font-weight: 600;
  color: white;
}
.missions_head {
  text-align: center;
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 800;
}
