.pslv {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid white;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery {
  color: black;
}
.gallery h1 {
  color: aliceblue;
  align-items: center;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.image:hover {
  transform: scale(1.1);
  transition: 500ms linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 100px;
  height: 100px;
  margin: 10px;
}

@import url(https://fonts.bunny.net/css?family=amita:700);

.gallery {
  background: url(https://res.cloudinary.com/ritalbradley/image/upload/v1657644013/pexels-elijah-o_donnell-3473569_o7ohfd.jpg)
    center center/cover no-repeat;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.gallery-title {
  color: #fefae0;
  font-family: Amita;
  margin: 20px auto;
  width: 450px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 10px double #bc6c25;
}

.gallery img {
  width: 450px;
  height: 300px;
  margin: 10px;
  border: 10px solid #fefae0;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  transition-duration: 1s;
  display: inline;
}

.gallery img:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
